{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} 用户注册{% endblock %}</title>
</head>
<body>

{% block content %}
    <div style="margin: 15% 40%;">
            <form method="post">
                {% csrf_token %}
                  {% if message %}
      <div class="alert alert-warning">{{ message }}</div>
  {% endif %}
            <div class="form-group">
                {{ register_form.username.label_tag }}
                {{ register_form.username }}
                </div>
            <div class="form-group">
                {{ register_form.password1.label_tag }}
                {{ register_form.password1 }}
            </div>
            <div class="form-group">
                {{ register_form.password2.label_tag }}
                {{ register_form.password2 }}
            </div>
                <div class="form-group">
                {{ register_form.email.label_tag }}
                {{ register_form.email }}
            </div>

                        <div class="form-group">
                {{ register_form.sex.label_tag }}
                {{ register_form.sex }}
            </div>

                <div class="form-group">
                    {{ register_form.captcha.errors }}
                {{ register_form.captcha.label_tag }}
                    {{ register_form.captcha }}
                </div>
              <button type="submit" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
            </form>
    </div>


{% endblock %}
</body>
</html>